.beats-multiselect-container {
    .lock-overlay,
    img {
        width: 45px;
        height: 45px;
    }
    .lock-overlay {
        position: absolute;
        background-image: url(~@/assets/img/lock-overlay-square.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .BeatList {
        padding-top: 13px;
        .smooth-dnd-draggable-wrapper {
            &:last-child {
                .BeatListItem {
                    border-bottom: 0;
                }
            }
        }
        .empty-message {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 0 15px;
            .ico {
                margin-bottom: 10px;
            }
            p {
                font-size: px2rem(13);
                margin-bottom: 0;
            }
        }
        .BeatListItem {
            display: flex;
            align-items: center;
            padding: 7px 10px;
            border-bottom: 1px solid $gray-320;
        }
        .item-number {
            color: $black;
            font-size: px2rem(16);
            font-weight: 800;
            letter-spacing: 0;
            margin: 0 16px;
        }
        .item-title {
            font-size: px2rem(13);
        }
        .item-subtitle {
            color: $gray-520;
        }
        .item-body {
            flex-grow: 1;
        }
        .item-cover {
            margin: 0 12px;
        }
    }
    .beats-multiselect {
        .select-empty {
            text-align: center;
            padding: 20px;
        }
        .select-option {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            position: relative;
            border-bottom: 1px solid $gray-320;
            &,
            .custom-control-label:after {
                cursor: pointer;
            }
            &:last-child {
                border-bottom: 0;
            }
            &:hover {
                background-color: $gray-110;
            }
            .option-cover {
                margin-left: 5px;
                margin-right: 10px;
            }
            .option-title {
                font-size: px2rem(13);
            }
            .option-subtitle {
                color: $gray-520;
            }
        }
    }
}