.UserAvatar {
    .avatar {
        @include border-radius(50%);
        width: 32.25px;
        height: 32.25px;
    }
    .avatar-letter {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $gray-330;
        font-size: px2rem(16);
        font-weight: normal;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}
