.layout-error {
    .secion-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $black;
    }

    .logo {
        max-width: 100%;
        width: 160px;
    }

    .title {
        font-family: $font-base-family;
        font-size: 8 * $font-size-base;
        font-weight: $font-weight-bolder;
    }

    p {
        font-size: 1.25 * $font-size-base;
        letter-spacing: 0.15 * $spacer;
    }
}
