.page-beat-edit {
    .page-header {
        .right-col {
            display: none;
        }
        .cancel-btn {
            margin-right: 10px;
        }
    }

    .page-preview {
        margin-top: 0;
    }

    .page-body {
        display: flex;
        flex-direction: column;
        padding: 0 3px;
    }

    .page-footer {
        display: flex;
        justify-content: space-between;
        position: sticky;
        border-top: 1px solid $gray-330;
        padding: 20px 0;
        background-color: $white;
        bottom: 0;
        z-index: 2;
        .btn-secondary {
            margin-right: 15px;
        }
    }

    .Card {
        margin-bottom: 20px;
        &.viz-card .card-title,
        > .card-title {
            font-size: px2rem(14);
            margin-bottom: 15px;
        }
    }

    .DropFile:not(:last-child) {
        margin-bottom: 15px;
    }

    .info-card,
    .viz-card {
        margin-top: 0;
    }

    .marketing-card {
        .custom-control-label {
            padding-left: 10px;
        }
    }

    .viz-card {
        .toggle-label {
            font-size: px2rem(12);
            margin-right: 10px;
        }
        .card-header {
            justify-content: space-between;
        }
    }

    .collabs {
        .collab-row {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
        .collab-col {
            margin-bottom: 10px;
        }
        .pub-col {
            margin-bottom: 0;
        }
        .remove-col {
            margin: 5px 0 0 0;
        }
        .mini-profile {
            display: flex;
            align-items: center;
            color: $black;
            font-size: px2rem(13);
            font-weight: 600;
            letter-spacing: 0;
            border: 1px solid $input-border-color;
            height: 42.6px;
            padding-left: 7px;
            .UserAvatar {
                margin-right: 5px;
            }
        }
        .remove-icon {
            display: none;
        }
        .add-btn {
            color: $black;
            font-size: px2rem(14);
            font-weight: bold;
            .ico {
                position: relative;
                top: 2px;
                margin-right: 2px;
            }
        }
        .form-control[readonly] {
            background-color: $white;
            cursor: default;
        }
    }

    @include media-breakpoint-up(md) {
        .page-header {
            .right-col {
                display: block;
            }
        }

        .page-body {
            flex-direction: row;
            .left-col {
                flex-basis: 70%;
                margin-right: 20px;
            }
            .right-col {
                flex-basis: 30%;
            }
        }

        .Card {
            &.viz-card .card-title,
            > .card-title {
                font-size: px2rem(18);
            }
        }

        .marketing-card {
            .card-body {
                display: flex;
                flex-wrap: wrap;
            }
            .custom-checkbox {
                width: 50%;
            }
        }

        .DatePicker input,
        .TimePicker .vs__dropdown-toggle {
            font-size: px2rem(12);
        }

        .collabs {
            .collab-row {
                flex-direction: row;
                margin-bottom: 10px;
                &:first-child {
                    label {
                        display: block;
                    }
                }
            }
            .collab-col {
                margin-bottom: 0;
            }
            label {
                display: none;
            }
            .user-col {
                width: 50%;
            }
            .profit-col {
                width: 20%;
                margin-left: 10px;
                margin-right: 10px;
            }
            .pub-col {
                width: 20%;
            }
            .remove-col {
                position: relative;
            }
            .remove-btn {
                display: none;
            }
            .remove-icon {
                display: block;
                position: absolute;
                top: 11px;
                right: -25px;
            }
        }
    }
}
