.page-link-add {
    .page-header {
        margin-bottom: 15px;
        align-items: flex-start;
    }

    .step-body {
        display: flex;
        flex-direction: column;
        .right-col {
            margin-top: 20px;
        }
    }

    @include media-breakpoint-up(md) {
        .step-body {
            flex-direction: row;
            .left-col {
                flex-grow: 1;
            }
            .right-col {
                margin-top: 0;
            }
        }
    }
}
