.page-legal {
    font-family: $font-source-family;
    background: $black;
    .logo {
        max-width: 100%;
        width: 180px;
    }
    h2 {
        font-family: $font-base-family;
        font-weight: $font-weight-light;
        letter-spacing: 0.25 * $spacer;
        text-transform: uppercase;
        margin-bottom: 2 * $spacer;
    }
    p {
        text-align: justify;
    }
}
